html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  width: 960px;
  padding: 1rem 2rem;
  background-color: cadetblue;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: white;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

nav span {
  display: inline-block;
  padding-left: 2rem;
}
