html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
.main {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  width: 100%;
  height: 31rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  width: 960px;
  height: 1.5rem;
  padding: 1rem 2rem;
  background-color: cadetblue;
  color: white;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: white;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

nav span {
  display: inline-block;
  padding-left: 2rem;
}

.altnav {
  display: inline-block;
  padding-left: 2rem;
}

/* Tag Line */

.tag {
  width: 996px;
  height: 11.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.line {
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 5rem;
}

.line span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Services */

.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  margin: 3rem;
  align-items: center;
  justify-content: center;
}

.item img {
  width: 5rem;
  height: auto;
  margin: auto;
}

.item span {
  text-align: center;
  margin: auto;
}

.itemexam {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  margin: 3rem;
  align-items: center;
  justify-content: center;

}

.itemexam img {
  width: 3.5rem;
  height: auto;
  margin: auto;
}

.itemexam span {
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 1025px) {
  .altnav {
    display: none;
  }

}

@media only screen and (min-width: 671px) and (max-width: 1024px) {
  .altnav {
    display: none;
  }
  .main {
    height: 22rem;
  }
  .header {
    width: 100%;
    margin-top: 0rem;
    margin-right: 0rem;
  }
  .tag {
    width: 100%;
    height: 5.5rem;
  }
  .line {
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
  .line span {
    font-size: 1.33rem;
    line-height: 1.2;
  }
  .item {
    margin: 1.54rem;
  }
  .itemexam {
    margin: 1.54rem;
  }

}

@media only screen and (max-width: 670px) {
  nav span {
    display: none;
  }
  .main {
    height: 17rem;
  }
  .header {
    width: 100%;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 5rem;
  }
  .tag {
    width: 100%;
    height: 0rem;
    justify-content: center;
  }
  .line {
    padding: 1rem 0rem;
    margin-right: 0rem;
    width: 100%;
    align-content: center;
    text-align: center;
  }
  .line span {
    font-size: 1rem;
    line-height: 1;
  }
  .services {
    margin: 3rem auto;
    width: 8rem;
  }
  .item {
    margin: 0.77rem;
  }
  .itemexam {
    margin: 0.77rem;
  }

}
